.event-feed-item {
    padding-bottom: 2rem;
    border-bottom: 2px solid rgb(79, 79, 79);
    margin-bottom: 2rem;

    &:first-of-type {
        margin-top: 4rem;
        border-top: 2px solid rgb(79, 79, 79);
    }

    a {
        font-size: 1.6rem;
    }
}